body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(240, 200, 253);
  background-image: url('/src/images/backgroundimg.png');
  background-size: cover;
  background-repeat:no-repeat;
  /* background-size: 100% auto;
  background-size: auto 100%; */
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;


}

input {
  background: transparent;
  border: 2px solid white;
  color: white;
  width: 80%;
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  border-radius: 25px;
  text-decoration: none;

  outline: none;

}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;

}

.logo {
  font-family: 'Pattaya', sans-serif;
  color: white;
  font-size: 180px;
  text-shadow: 3px 3px rgb(178, 150, 184);
  margin-right: 10px;
  margin-left: 80px;
  line-height: 80%;
}
.kitchen {
  margin-left: 50px;

}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto auto;
  gap: 4em;

}

.label {
  font-size: 20px;
  text-decoration: none;
  text-shadow: 3px 3px rgb(178, 150, 184);
}

.top-logo {
  font-family: 'Pattaya', sans-serif;
  color: white;
  text-shadow: 3px 3px rgb(178, 150, 184);
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.recipe-label {
  border-bottom: 3px solid black;
  font-family: 'Caveat', cursive;
  font-size: 40px;
}

.cardbox {
  /* border: 2px solid white; */
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cardbox-img {
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.recipe-details {
  display: flex;
  justify-content: center;
  
}
.image-details{
  border-radius: 50%;
  border: 4px solid rgb(178, 150, 184, .5);
  display: flex;
  align-content: center;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
}

.ingredient-list{
  display: block;
  /* flex-direction: column; */
  /* border: 1px solid red; */
  align-items: center;
  margin-left: 50px;
  padding: 10px;
  justify-content: center;
}




@media only screen and (max-width: 1430px) {
  .search-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    }
  input {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    align-content: center;
    flex-flow: column wrap;
  }
  .logo {
    font-size: 150px;
  }

}
@media only screen and (max-width: 1100px) {
  .search-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    }
  input {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    align-content: center;
    flex-flow: column wrap;
  }
  .logo {
    font-size: 130px;
  }
  .recipe-details {
    display: block;
    justify-content: center;
    border: 1px solid red;
  }

  .ingredient-list{
    display: block;
    justify-content: center;
  }

}



@media only screen and (max-width: 900px) {
  .search-bar {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
  }
  input {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    align-content: center;
    flex-flow: column wrap;
  }

  .logo {
    font-size: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 100px;
    margin-top: 120px
  }
  .kitchen {
    margin-right: 50px;
  }
  .recipe-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    gap: 4em;

    }
}

@media only screen and (max-width: 600px) {
  .search-bar {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;


  }

  input {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    align-content: center;
    flex-flow: column wrap;
  }

  .logo {
    font-size: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 100px;
    margin-top: 120px
  }
  .kitchen {
    margin-right: 50px;
  }
  .recipe-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(20, auto);
    gap: 4em;

    }
}
@media only screen and (max-width: 430px) {
  .search-bar {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;


  }

  input {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    align-content: center;
    flex-flow: column wrap;
  }

  .logo {
    font-size: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 30px;
    margin-top: 170px;
  }

  .kitchen {
    margin-right: 50px;
  }
}
